<%- include("header")%>
<%- include("nav")%>

<a href="/signup">Sign Up</a>
<form action="/send-mail" method="post">
    <input type="email" name="email" placeholder="Enter Registered Email">
    <button>Send Mail</button>
</form>

<%- include("footer")%>